.footer{
    position: fixed;
    bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: #4d0e40 ;
    padding: 10px;
    color: white;
}

.item{
    margin: 50px;
}