.todoform{
    background-color: white;
    border-radius: 50px;
    padding: 25px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.modernInput{
    width: 100%;
    display:block;
    border: none;
    color: black;
}

.modernInput{
   outline: none;
   
}

.modernButton{
    display: inline-block;
    border: none;
    border-radius: 50px;
    background-color: #4d0e40 ;
    color: white;
    height: 40px;
    width: 70px;
    outline: none;

}

.inputContainer{
    display: flex;
}