.It_comp{
    width: 500px;
    color: #353935;
    font-size: 20px;
    
  
}

.It_style{
    font-weight: bold;
    padding: 20px;

}

.line{
    border: 5px solid #f4f4f4;
}

.deleteButton{
    float:right;
    padding: 11px 22px;
    border: none;
    background-color: #4d0e40;
    color: white;
    border-radius: 10px;
    margin-top: -9px;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
}